/Calculator
/classes.py
/datatype.py
/example.txt
/functions.py
/io_sample.py
/Jedi Classes
/Jedi duels adventure
/jedi_training.py
/matherino.py
/mission to mars.py
/my_request.py
/PyAutoGui
/recursion.py
/returnorino.py
/test.py
/weather.py